<div class="rooms">
  <div class="container">
    <div class="rooms-main">
      <div class="room-head">
        <h3>Our Rooms</h3>
      </div>
      <div class="rooms-top">
        <div class="rooms-left1 wow slideInRight room_s" data-wow-delay="0.3s">
          <div class="col-md-6 rooms-img ulta-img">
          <a href="#"> <img src="img/single.JPG" alt="" class="img-responsive right"></a>
          </div>
          <div class="col-md-6 rooms-text ulta-text gome">
            <h3><a href="#">Single Room</a></h3>
            <p> Price for one day: <b>20$</b> </p>
            <div class="room-btn">
            <a href="/contact" class="hvr-push">Read More</a>	
            </div>	
          </div>
        <div class="clearfix"> </div>
        </div>
        <div class="rooms-left wow slideInLeft room_m" data-wow-delay="0.3s">
          <div class="col-md-4 rooms-text gome">
            <h2><a href="#">Twin Room</a></h2>
            <p>Price for one day: <b>35$</b></p>
            <div class="room-btn">
            <a href="/contact" class="hvr-push">Read More</a>	
            </div>		 	    
          </div>
          <div class="col-md-8 rooms-img">
            <div class="luxury-block">
            <a href="#"> <img src="img/bedroom.jpg" alt="" class="img-responsive right"></a>		
            </div>
          </div>				 
        <div class="clearfix"> </div>
        </div>
        <div class="rooms-left1 wow slideInRight room_l" data-wow-delay="0.3s">
          <div class="col-md-6 rooms-img ulta-img">
          <a href="#"> <img src="img/bedroom_2.jpg" alt="" class="img-responsive right"></a>
          </div>
          <div class="col-md-6 rooms-text ulta-text gome">
            <h3><a href="#">Double Room</a></h3>
            <p>Price for one day: <b>45$</b></p>
            <div class="room-btn">
            <a href="/contact" class="hvr-push">Read More</a>	
            </div>	
          </div>
        <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--gallery start here-->
<div class="gallery" id="gallery">
  <div class="container">
  <div class="gallery-main wow zoomIn" data-wow-delay="0.3s">
    <div class="gallery-top">
      <h1>Hotel Images</h1>
    </div>
    <div class="gallery-bott">
      <div class="col-md-4 col1 gallery-grid">
        <a href="" rel="title" class="b-link-stripe b-animate-go  thickbox">
            <figure class="effect-bubba">
              <img class="img-responsive" src="img/room_4.jpg" alt="">
              <figcaption>
                <h4 class="gal"> </h4>
                <!-- <p class="gal1">In sit amet sapien eros Integer dolore magna aliqua</p> -->
              </figcaption>			
            </figure>
          </a>
          </div>
          <div class="col-md-4 col1 gallery-grid">
            <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
            <figure class="effect-bubba">
              <img class="img-responsive" src="img/room_3.jpg" alt="">
              <figcaption>
                <h4 class="gal"></h4>
                <!-- <p class="gal1">In sit amet sapien eros Integer dolore magna aliqua</p>	 -->
              </figcaption>			
            </figure>
            </a>
          </div>
          <div class="col-md-4 col1 gallery-grid">
            <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
            <figure class="effect-bubba">
              <img class="img-responsive" src="img/img_6.jpg" alt="">
              <figcaption>
                <h4 class="gal"></h4>
                <!-- <p class="gal1">In sit amet sapien eros Integer dolore magna aliqua</p>	 -->
              </figcaption>			
            </figure>
            </a>
          </div>
        <div class="col-md-4 col1 gallery-grid">
          <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
            <figure class="effect-bubba">
              <img class="img-responsive" src="img/img_5.jpg" alt="">
              		
            </figure>
          </a>
        </div>
        <div class="col-md-4 col1 gallery-grid">
            <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
            <figure class="effect-bubba">
              <img class="img-responsive" src="img/5.jpg" alt="">
              <figcaption>
                <h4 class="gal"></h4>
                <!-- <p class="gal1">In sit amet sapien eros Integer dolore magna aliqua</p>	 -->
              </figcaption>			
            </figure>
            </a>
          </div>
          <div class="col-md-4 col1 gallery-grid">
            <a href="#" rel="title" class="b-link-stripe b-animate-go  thickbox">
            <figure class="effect-bubba">
              <img class="img-responsive" src="img/hall_1.jpg" alt="">
              <figcaption>
                <h4 class="gal"></h4>
                <!-- <p class="gal1">In sit amet sapien eros Integer dolore magna aliqua</p>	 -->
              </figcaption>			
            </figure>
            </a>
          </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
	<!--gallery end here-->
<script src="js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
$(function() {
  $('.gallery-grid a').Chocolat();
});
</script>